<h1 class="pb-2">Explore Categories</h1>

<div class="px-2 pb-2">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <% if (food != "") { %>
                <li class="breadcrumb-item"><a href="/categories">Categories</a></li>
                <li class="breadcrumb-item"aria-current="/categories/<%=categoryUrl%>"><%=categoryUrl%></li>
            <% } else if (food ==="") { %>
                <li class="breadcrumb-item active" aria-current="/categories">Categories</li>
            <% } %>
        </ol>
      </nav>
</div>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 mb-4">
    <% if (typeof categories !== "undefined" && categories.length > 0) {%> 
        <% categories.forEach(function(category, index) {%>
            <a href="/categories/<%=category.name%>" class="col text-center category__link">
                <div class="categories__img shadow">
                    <img src="<%=category.image%>" alt="<%=category.name%>" loading="lazy" />
                </div>
                <div class="pt-1"><%=category.name%></div>
            </a>
        <% }) %> 
    <% } %>
</div>


<% if (food != "") { %>
    <% if (food.categoryByUrl.length > 0) { %>
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            <% food.categoryByUrl.forEach(function(recipe, index){ %>
                <a href="/recipe/<%= recipe.url%>" class="col text-center category__link">
                    <div class="category__img category__img--Large shadow">
                        <img src="/img/recipes/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy" />
                    </div>
                    <div class="pt-1"><%= recipe.name %></div>
                </a>
            <% }) %>
        </div>
    <% } else { %>
        <div class="row py-4">
            <h2>Sorry no recipes in this category yet. Maybe you should add some</h2>
        </div>
    <% } %>
<% } %>


<%- include("../views/partials/pagination.ejs") %>


